# Deciduous database (local)
.deciduous/
chunks/lang/.zig-cache/
chunks/term_diff/scripts/node_modules/
chunks/lang/zig-out/
chunks/repl_tui/target/
chunks/blimp_diff/target

chunks/blimp_diff_cpp/*.d
chunks/blimp_diff_cpp/*.slo
chunks/blimp_diff_cpp/*.lo
chunks/blimp_diff_cpp/*.o
chunks/blimp_diff_cpp/*.obj
chunks/blimp_diff_cpp/*.gch
chunks/blimp_diff_cpp/*.pch
chunks/blimp_diff_cpp/*.ilk
chunks/blimp_diff_cpp/*.pdb
chunks/blimp_diff_cpp/*.so
chunks/blimp_diff_cpp/*.dylib
chunks/blimp_diff_cpp/*.dll
chunks/blimp_diff_cpp/*.so.*
chunks/blimp_diff_cpp/*.mod
chunks/blimp_diff_cpp/*.smod
chunks/blimp_diff_cpp/*.lai
chunks/blimp_diff_cpp/*.la
chunks/blimp_diff_cpp/*.a
chunks/blimp_diff_cpp/*.lib
chunks/blimp_diff_cpp/*.exe
chunks/blimp_diff_cpp/*.out
chunks/blimp_diff_cpp/*.app
chunks/blimp_diff_cpp/build/
chunks/blimp_diff_cpp/Build/
chunks/blimp_diff_cpp/build-*/
chunks/blimp_diff_cpp/CMakeFiles/
chunks/blimp_diff_cpp/CMakeCache.txt
chunks/blimp_diff_cpp/cmake_install.cmake
chunks/blimp_diff_cpp/Makefile
chunks/blimp_diff_cpp/install_manifest.txt
chunks/blimp_diff_cpp/compile_commands.json
chunks/blimp_diff_cpp/*.tmp
chunks/blimp_diff_cpp/*.log
chunks/blimp_diff_cpp/*.bak
chunks/blimp_diff_cpp/*.swp
chunks/blimp_diff_cpp/vcpkg_installed/
chunks/blimp_diff_cpp/*.dwo
chunks/blimp_diff_cpp/Testing/
chunks/blimp_diff_cpp/.cache/
